@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}

:root {

  --clr: #000
}

body {
  background: var(--clr);
}

/****************************** Navbar******************************/
header {

  height: 20%;

  position: relative;
  display: flex;
  justify-content: center;

}

nav {
  padding-top: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {

  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}


.navigation ul li.active a .icon {
  transform: translateY(-32px);
}

.navigation ul li a .texte {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}

.navigation ul li.active a .texte {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #B62339;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}

.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active~.indicator {
  transform: translateX(calc(0px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
  transform: translateX(calc(70px * 4));
}

/****************************** Logo******************************/

.logo-div {
  width: 100%;
  padding: 200px 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

#logo {
  height: 300px;
}


/****************************** présentation******************************/

.photo-texte-presentation {
  width: 100%;
  height: auto;

  background-size: cover;
  box-sizing: border-box;

}

#photo_G {
  height: 350px;
  width: 350px;
  margin: 50px 20px 0 20px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  shape-outside: margin-box;
}

#apropos {
  color: #fff;
  padding: 50px;
  font-size: 25px;
  line-height: 1.5;
}

/****************************** instruction******************************/
/*
#instructions{
  background-image: url(https://i.pinimg.com/564x/a0/14/b2/a014b23c6dc52ed567dba6d42ad11b5d.jpg);
  background-size: cover;
  box-sizing: border-box;
}*/

h2 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  padding-bottom: 25px;
}

div.un,
div.deux,
div.trois,
div.quatre,
div.cinq {
  padding: 50px 0;

  width: 100%;

}

div p {
  color: #fff;
  font-size: 1.5em;
  padding: 10px 50px;

}

div p.Le jour du rendezvous {
  text-align: center;
}

div.un li,
div.cinq li {
  color: #fff;
  font-size: 1.5em;
  padding: 5px 50px;

}

/****************************** contact******************************/

#contacte {
  color: #fff;
  padding: 100px 0;
}

.containeur-formulaire {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 30px 10px;
  border-radius: 15px;
  box-shadow: 0px 10px 50px -10px;
  box-sizing: border-box;
}

.containeur-formulaire .title h2 {
  font-size: 2em;
  text-align: center;
}

.containeur-formulaire form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
}

.containeur-formulaire form input {
  width: 47%;

}

.containeur-formulaire form input,
.containeur-formulaire form textarea {
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  transition: 0.2s;

}

.containeur-formulaire form textarea {
  width: 100%;
  resize: none;
  height: 100px;
  margin-bottom: 35px;

}

.containeur-formulaire form button {
  width: 192px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: #B62339;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 auto;

}

/****************************** portfolio******************************/

.galery {
  margin-top: 3000px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 20px;
}

.galery::after {
  content: '';
  display: block;
  flex-grow: 10;
}

.galery li {
  list-style-type: none;
  height: 250px;

  flex-grow: 1;
}

.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/****************************** responsive******************************/

@media screen and (max-width:780px) {
  .navigation {
    width: 350px;
    height: 60px;
    border-radius: 10px;
  }

  .navigation ul {
    width: 300px;
  }

  .navigation ul li {
    width: 60px;
    height: 52.5px;
  }

  .navigation ul li a {
    width: 100%;
    text-align: center;
    font-weight: 500;
  }

  .navigation ul li a .icon {
    line-height: 65px;
    font-size: 1.5rem;
  }

  .indicator {
    top: -60%;
    right: 74%;
  }

  .indicator::before {
    border-top-right-radius: 15px;
  }

  .indicator::after {
    border-top-left-radius: 15px;
  }

  .navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(0px * 0));
  }

  .navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(58px * 1));
  }

  .navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(59px * 2));
  }

  .navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(59.5px * 3));
  }

  .navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(59.75px * 4));
  }

  .logo-div {
    height: 300px;
    padding: 300px 0;
  }

  #logo {
    height: 180px;
  }

  #photo_G {
    height: 150px;
    width: 150px;
    margin: 20px;

  }

  #apropos {
    padding: 25px;
    font-size: 17px;
    line-height: 1.3;
  }



  #contacte {
    color: #fff;
    padding: 70px 0;
  }

  .containeur-formulaire {
    width: 90%;
    padding: 30px 20px;
    box-shadow: 0px 10px 50px -10px;

  }

  .containeur-formulaire .title h2 {
    font-size: 1.7em;

  }





}